.loader {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    left: 50%;
    top: 200px;
  }
  .loader::before, .loader::after {
    content: "";
    position: absolute;
    border: 16px solid transparent;
    border-radius: 50%;
    left: -16px;
    top: -16px;
    width: 100%;
    height: 100%;
  }
  .loader::after {
    border-top-color: rgb(158, 158, 158);
    border-bottom-color: transparent;
    animation: spin 1s linear infinite;
  }
  .loader::before {
    border-top-color: Coral;
    border-bottom-color: transparent;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  * {
    box-sizing: border-box;
  }
