html, body {
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	background-image: url("https://images.unsplash.com/uploads/14127730749568d4f9320/9e32df2d?dpr=1&auto=compress,format&fit=crop&w=376&h=282&q=80&cs=tinysrgb&crop=");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.container {
	width: 50%;
	height: 190px;
	margin: 5px auto;
	border: 1px solid #e3e3e3;
	background-color: steelblue;
	border-radius: 10px;
}

h2 {
	text-align: center;
	font-weight: 400;
}

.control {
	width: 80%;
	text-align: center;
	margin: 10px auto;
}

p {
    margin-left: 80px;
    text-align: left;
}

input[type="text"] {
	padding: 10px;
	width: 77%;
	border-radius: 5px;
	border: solid 1px #fff;
	transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"]:focus {
	border: solid 1px #707070;
	box-shadow: 0 0 3px 1px #969696;
}

#btn {
	border: none;
	width: 90px;
	height: 35px;
	border-radius: 5px;
	color: #fff;
	background: #000;
    margin-left: 8px;
}

#btn:hover {
	color: #000;
	border: 1px solid black;
	background: #fff;
	transition: all .4s ease;
}

@media screen and (max-width: 400px) {
	.container {
		width: 100%;
	}
	p {
		margin-left: 50px;
	}
	#city {
		display: block;
		width: 100%;
	}
}